

<link href="~/QRCODE.css" rel="stylesheet" />
@{
    ViewBag.Title = "Qr";
}


   
    
    

@using (Html.BeginForm("Qr", "QrCode", FormMethod.Post))
{
    <div>
        <form>
            <input type="hidden" name="qrcode" value="http://localhost:5201/Restaurante/Menu" />
        </form>
        <br />
        <br />
        @if (ViewBag.QrCodeImage != null)
        {
            <img class="run" src="@ViewBag.QrCodeImage" alt="" style="height:300px;width:300px;margin-left:30px;margin-top:-27px;" />
        }
    </div>
}


