@model LunaryCore.Models.Restaurante

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Create";
}

<head>
    <link rel="stylesheet" href="~/css/Admin/PictureInput.css"/>    
    <script src="~/Script/Admin/InputPicture.js"></script>


    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.min.css.map"/>

    
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.min.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.min.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.min.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.min.js.map" />
    
</head>



<h2>Cadastro de Produto</h2>
<div>

    <form action="/Admin/Create" enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label for="nome">Nome Do Prato:</label>
            <input type="text" class="form-control"
                   maxlength="100"
                   id="nome" name="nome"
                   required />
        </div>
        <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="text" class="form-control" step="0.010"
                   id="preco" name="preco"
                   required />
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control"
                   id="descricao" name="descricao">
        </div>
        <div class="form-group">
            <label for="precopromocao">Preço Promocional:</label>
            <input type="text" class="form-control" step="0.010"
                   id="precopromocao" name="precopromocao" value="0" />
        </div>

        <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria">
                @foreach (var item in ViewBag.listacategoria)
                {
                    <option>@item.RESTACATEGORIA</option>
                }
            </select>
        </div>

        <div class="form-group" typeof="checkbox">

            <!--  Disponibilidade  -->

            <input type='checkbox' value='true' onchange="this.value=this.checked" checked name="disponibilidade" id="disponibilidade">
            <label class="form-check-label" for="disponibilidade">
                Disponivel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <!--  Oferta do Dia  -->
            <input type='checkbox' value='false' onchange="this.value=this.checked" c name="oferta" id="oferta">
            <label class="form-check-label" for="oferta">
                Oferta do Dia
            </label>
        </div>

        <div class="form-group">
            <div>
                <label for="arquivo">Imagem:</label>
            </div>

            <label class="picture" for="imagem" tabIndex="0">
                <span title="Clique para adicionar Imagem" class="imagem"></span>
            </label>
            <input type="file" class="form-control" name="imagem" id="imagem">
        </div>

        <div>
            <a href="/Admin/Index"><button type="button" class="btn btn-primary">Voltar</button>  </a>
            <a href="/Admin/Index"><button type="submit" class="btn btn-success">Salvar</button>  </a>
        </div>
    </form>
</div>



@section scripts{

    <script>
        window.onload = () => {
            document.queryCommandIndeterm
            InputImgCreate()
        }
    </script>




}