* {
    margin: 0;
    padding: 0;
}

.campanhas {
    
    
    margin: 50px auto;
   
    overflow: hidden;
}

    .campanhas ul {
        display: flex;
        list-style: none;
        width: 200px;
        height: 250px;
    }

    .campanhas il {
        position: relative;
        
        display: flex;
        list-style: none;
        
    }



