body[b-h1pyug94t9] {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content[b-h1pyug94t9] {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt[b-h1pyug94t9] {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input[b-h1pyug94t9],
select[b-h1pyug94t9],
textarea[b-h1pyug94t9] {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover[b-h1pyug94t9],
.navbar-inverse .navbar-toggle:focus[b-h1pyug94t9] {
    background-color: #777;
    border-color: #fff
}

h1[b-h1pyug94t9] {
    text-align: center;
    color: brown;
    margin-bottom: 50px;
}

p[b-h1pyug94t9] {
    text-align: center;
    color: brown;
}






